.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: Nunito Sans;
}

@font-face {
  font-family: Nunito Sans;
  src:
       url('/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') ;
  font-weight: 400;
  font-style: normal;
  
} /* asi coloco una font en next... la descargo y la coloco asi en fontface luego la pongo en el body o main */


.countries {
  margin: 10% 3%;
  display: grid;
  grid-template-columns: 16% 16% 16% 16%; /*cada valor es el ancho que quiere y la cantidad de valores la columnas que quiero */
  gap: 0.5% 10%; /* espacio entre las filas y la columnas*/
  
}

.countries img {
  width: 120%;
}

.eachCountry {
  min-width: 120%;
  margin: -2% 0% 0% 0%;
  padding: 5% 10%;
  border-color: rgb(240, 239, 239) ;
  border-style: solid; 
}

.eachCountry div{
  display: flex;
  margin-bottom: 3%;
}

.eachCountry h2 {
  text-align: left;
}

.eachCountry p {
  padding-left: 3%;
}

.firstC{
  margin-top: 7%;
}

.Htop , .Hdown{
  width: 100vw;
  display: flex;
  justify-content: space-between ;
  padding: 0% 10%;
}

.btnFilter {
  background-image: url("/arrow.png");
  background-position: right;
  background-repeat: no-repeat;
  height: 40px;
  padding: 0% 4%;
  text-align: left;
  width: 200px;
  background-color: none;
  border: none;
  background-color: none;
  font-size: 13px;
  background-color: white;
  border-color: rgb(240, 239, 239) ;
  border-style: solid; 

}

.Htop {
  border: none;
  border-top: white;
  border-bottom: rgb(240, 239, 239) ;
  border-style: solid; 
  padding-bottom:  1.5%;
  margin-bottom: 3%;
}

.Htop h2 {
  font-size: 32px;
}

.Htop button {
  background-image: url("/icons8-dark-mode-25.png");
  background-position: left;
  background-repeat: no-repeat;
  text-align: right;
  width: 100px;
  background-color: none;
  border: none;
  background-color: none;
  font-size: 14px;
  background-color: white;
  font-weight: 600;
}


.inputSearch {
  background-image: url("/search.png");
  background-position: left;
  background-repeat: no-repeat;
  width: 250%;
  height: 40px;
  border-color: rgb(240, 239, 239) ;
  border-style: solid; 
  border-left: none;
  padding-left: 30%;
  font-size: 14px;
  border-color: rgb(240, 239, 239) ;
  border-style: solid; 
}

.regions {
  display: none;
  padding: 5% 0% 5% 5%;
  border-color: rgb(240, 239, 239) ;
  border-style: solid; 
  font-size: 16px;
}

.regions p {
  margin-bottom: 3%;
}

.regions p:hover, .btnBack, .btnFilter:hover, .inputSearch, .Htop button, .Htop H2, .country {
  cursor: url("/pointer.png"), auto;
}


/* Dark section */

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

/* section zoom country */

.btnBack {
  background-image: url("/left-arrow.png");
  background-color: #fff;
  background-position: 25%;
  background-repeat: no-repeat;
  margin: 7% 0% 0% 7%;
  text-align: center;
  width: 150px;
  height: 45px;
  border: #e9e8e8 solid;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 4%;
}

.countryZoom {
  display: none;
}

.countryDetail {
  display: inline-flex;
  justify-content: space-between;
  margin: 10% 0% 5% 0%;
}



.countryDetail img {
  min-width: 130%;
  margin-left: 25%;
}


.detalles {
  padding: 1% 0%;
  min-width: 70%;
  margin-left: 20%;
}

.detalles h1 {
  font-size: 26px;
  margin-bottom: 2%;
}

.detallesInfo {
  width: 85%;
   display: inline-flex;
   justify-content: space-between;
   text-align: left;
   overflow:visible;
}


.detallesInfo h4, .detallesInfo p, .borders h4 {
  font-size: 16px;
}

.detallesInfo h4, .borders h4 {
  padding-left: 3%;
}

.hook div {
  min-width: 70%;
  display: inline-flex;
  margin-bottom: 1%;
}

.borders {
  margin-top: 3%;
  display: flex;
}


.borders div {
  display: inline-flex;
}


.borders h4 {
  padding: 0% 15%;

}

#native h4, #moneda {
  min-width: 90%;
 
}

/* search section   */

.search {
   margin-top: 30%;
   display: grid;
   grid-template-columns: 40% 40%; /*cada valor es el ancho que quiere y la cantidad de valores la columnas que quiero */
   gap: 0.5% 20%; /* espacio entre las filas y la columnas*/
   
}



/* Mobile */
@media (max-width: 700px) {
  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
  }
  
  
  .countries {
    margin: 10% 1%;
    display: grid;
    grid-template-columns: 90%; /*cada valor es el ancho que quiere y la cantidad de valores la columnas que quiero */
    gap: 0.15% 2%; /* espacio entre las filas y la columnas*/
    
  }
  
  .countries img {
    width: 100%;
    padding: 0% 10%;
  }
  
  .eachCountry {
    min-width: 50%;
    margin: -2% 10% 0% 10%;
    padding: 5% 0%;
    text-align: center;
  }
  
  .eachCountry div{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
  }
  
  .eachCountry h2 {
    text-align: center;
  }
  
  .eachCountry p {
    padding-left: 3%;
    text-align: center;
  }
  
  .firstC{
    margin-top: 7%;
  }
  
  .Hdown{
    display: block;
    justify-content: center ;
  }
  
  .Htop {
    margin-top: 4%;
  }
  
  .Htop h2 {
    font-size: 19px;
  }
  
  
  .inputSearch {
    width: 100%;
    margin: 6% 0%;
  }
  
  .regions {
    display: none;
    width: 50%;
  }
  
  
  /* Dark section */
  
  .dark {
    background-color: #333;
    color: #fff;
  }
  
  .light {
    background-color: #fff;
    color: #333;
  }
  
  /* section zoom country */
  
  .btnBack {
    margin: 7% 0% 0% 5%;
  }
  
  .countryZoom {
    display: none;
  }
  
  .countryDetail {
    display: inline-block;
    justify-content: center;
    margin: 5% 0% 5% 0%;
  }
  
  
  .countryDetail img {
    min-width: 90%;
    margin-left: 0% ;
    margin: 0% 5%;
  }
  
  
  .detalles {
    padding: 1% 5%;
    min-width: 90%;
    margin-left: 0%;
  }
  
  .detalles h1 {
    font-size: 22px;
    margin-bottom: 4%;
    margin-top: 6%;
  }
  
  .detallesInfo {
    width: 100%;
     display: inline-block;
     justify-content: left;
     text-align: left;
     overflow:visible;
  }
  
  
  .detallesInfo h4, .detallesInfo p, .borders h4 {
    font-size: 14px;
  }
  
  .detallesInfo h4, .borders h4 {
    padding-left: 3%;
  }
  
  .hook div {
    min-width: 90%;
    display: inline-flex;
    margin-bottom: 2%;
  }
  
  .borders {
    margin-top: 3%;
    display: flex;
  }
  
  
  .borders div {
    display: inline-flex;
  }
  
  
  .borders h4 {
    padding: 0% 10%;
  
  }
  
  #native h4, #moneda {
    min-width: 90%;
   
  }

  
/* search section   */

.search {
  margin-top: 20%;
  display: grid;
  grid-template-columns: 100%; /*cada valor es el ancho que quiere y la cantidad de valores la columnas que quiero */
  gap: 5% 0%; /* espacio entre las filas y la columnas*/
  margin-bottom: 10%;
}


  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1110px) {


}

